/* Slider start */

.container-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    margin-top: 2rem;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #fff;
}

.card-list .card-item .btnatoz {
    border-style: none;
    border-radius: .5rem;
    padding: .1rem 1rem;
    color: white;
    background-color: #333;
}

/* Slider end */

/* Draggable Slider Tabs */

.draggable-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}

.wrapper {
    max-width: 1000px;
    border-radius: .1rem;
    overflow-x: hidden;
    position: relative;
    background-color: black;
}

.wrapper .icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: 11rem;
    display: flex;
    align-items: center;
}

.icon:first-child {
    left: 0;
    display: none;
    background: linear-gradient(90deg, black 70%, transparent);
}

.icon:last-child {
    right: 0;
    background: linear-gradient(-90deg, black 70%, transparent);
    justify-content: flex-end;
}

.icon i {
    width: 2rem;
    height: 2rem;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 2rem;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

.icon i:hover {
    background-color: #555;
}

.icon:first-child i {
    margin-left: 1rem;
}

.icon:last-child i {
    margin-right: 1rem;
}

.wrapper .tabs-box {
    display: flex;
    list-style: none;
    gap: .5rem;
    margin-bottom: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.tabs-box.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.tabs-box .tab {
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
    background: #333;
    border: 1px solid #fff;
    padding: .2rem 1rem;
    border-radius: .4rem;
    color: white;
}

.tabs-box.dragging .tab{
    user-select: none;
    pointer-events: none;
}

.tabs-box .tab.active{
    color: black;
    background-color: white;
}